version: 2
jobs:
  build:
    docker:
      - image: gradle

    steps:
      - checkout
      - run: 
          name: install dependencies
          command: | 
            gradle dependencies
            bash <(curl -s https://scripts.scantist.com/staging/ci-circle.sh)
